<img src="../../images/endre-logo.jpeg"
    class="card-img-top mx-auto m-2 w-50" alt="...">
<form action="/signin" method="POST">
    <div class="form-group">
        <input type="email" class="form-control" name="email" placeholder="Email">
    </div>

    <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <div class="form-group">
        <button class="btn btn-warning btn-block">
            Siguiente
        </button>
    </div>
</form>
<a href="/signup">
    <p>¿No te has Registrado?</p>
    <p>¡Has Click Aqui!</p>
</a>