<div class="contentt">

    <div class="modull">


        <a href="/premium/libros" style="color: yellow;">
            <div class="text-center">
                <img src="../libros.jpeg" alt="" width="320px" height="320px">
            </div>
            <h4>Libros</h4>
        </a>

    </div>

    <div class="modull">


        <a href="/premium/revistas" style="color: yellow;">
            <div class="text-center">
                <img src="../revistas.jpeg" alt="" width="320px" height="320px">
            </div>
            <h4>Revistas</h4>
        </a>

    </div>

    <div class="modull">


        <a href="/premium/comics" style="color: yellow;">
            <div class="text-center">
                <img src="../comics.jpeg" alt="" width="320px" height="320px">
            </div>
            <h4>Comics</h4>
        </a>
    </div>

    <div class="modull">


        <a href="/premium/musica" style="color: yellow;">
            <div class="text-center">
                <img src="../musica.jpeg" alt="" width="320px" height="320px">
            </div>
            <h4>Musica</h4>
        </a>

    </div>

    <div class="modull">


        <a href="/premium/peliculas" style="color: yellow;">
            <div class="text-center">
                <img src="../peliculas.jpeg" alt="" width="320px" height="320px">
            </div>
            <h4>Peliculas</h4>
        </a>
    </div>

    <div class="modull">


        <a href="/premium/videos" style="color: yellow;">
            <div class="text-center">
                <img src="../peliculas.jpeg" alt="" width="320px" height="320px">
            </div>
            <h4>Series y Videos</h4>
        </a>
    </div>

</div>