<div class="contentt">

    <div class="modull">
        <a href="/premium/libros" style="color: yellow;">
            <img src="../libros.jpeg" alt="">
            <h4>Libros</h4>
        </a>

    </div>

    <div class="modull">
        <a href="/premium/revistas" style="color: yellow;">
            <img src="../revistas.jpeg" alt="">
            <h4>Revistas</h4>
        </a>

    </div>

    <div class="modull">
        <a href="/premium/comics" style="color: yellow;">
            <img src="../comics.jpeg" alt="">
            <h4>Comics</h4>
        </a>
    </div>

    <div class="modull">
        <a href="/premium/musica" style="color: yellow;">
            <img src="../musica.jpeg" alt="">
            <h4>Musica</h4>
        </a>

    </div>

    <div class="modull">
        <a href="/premium/peliculas" style="color: yellow;">
            <img src="../peliculas.jpeg" alt="">
            <h4>Peliculas</h4>
        </a>
    </div>

    <div class="modull">
        <a href="/premium/videos" style="color: yellow;">
            <img src="../videos.jpeg" alt="">
            <h4>Series y Videos</h4>
        </a>
    </div>

</div>