<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            {{#each respuestas}}
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <textarea name="respuesta" cols="10" class="form-control">
                            {{respuesta}}
                        </textarea>
                    </div>

                </div>
            </div>


            {{else}}
            <div class="text-center">
                <h2>No hay Respuestas Aun</h2>
                <p>Espere que uno de nuestros asistentes atienda</p>
            </div>

            {{/each}}

        </div>
    </div>
</div>