<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">

                    <h1>Email:</h1>
                    <p>editorial_renacer@edrenpublicaciones.com</p>


                </div>
            </div>
            <div class="card">
                <div class="card-body">



                    <img src="../WhatsApp-logo.png" alt="" width="200px" height="200px">
                    <h2>+5218342687001</h2>


                </div>
            </div>
            <div class="card">
                <div class="card-body">


                    <img src="../telegram-icono.png" alt="" width="200px" height="200px">
                    <h1> RENACER Arte que enaltece a Dios</h1>
                    <h1>@editorialrenacer</h1>




                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <a href="https://www.facebook.com/Editorial-Renacer-Arte-que-enaltace-a-Dios-107867410838748">
                        <img src="../facebook_icon-icons.com_59205.png" alt="" width="200px" height="200px">
                        <h1> Editorial Renacer Arte que analtece a Dios </h1>
                    </a>



                </div>
            </div>
        </div>
    </div>
</div>