<div class="header">
    <h2>Bienvenido {{user.username}}</h2>
</div>

<div class="content">
    <div class="modul">
        <a href="/free/all" style="color: yellow;">
        <h3>Contenido Free</h3>
        
        </a>
        
    </div>
    <div class="modul">
        <a href="/premium/all" style="color: yellow;">
        <h3>Contenido Premium</h3>
        </a>
        

    </div>
    <div class="modul">
       
         <h3>Tienda Virtual</h3>
        <h1>ò</h1>
        <h2>Envio a Domicilio</h2>

       <h5>EN DESARROLO</h5>
     
       
    </div>
    <div class="modul">
        
            <h2>Radio y TV</h2>

        <h5>EN DESARROLO</h5>
       
        

    </div>
</div>