<div class="container text-center my-auto">
  <div class="row">
    <div class="card">

      <div class="card-body">
        {{#if user}}
        <img
          src="../endre-logo.jpeg"
          class="card-img-top mx-auto m-2 rounded-circle w-50" alt="...">

        {{else}}
        {{> signin}}
        {{/if}}
      </div>
    </div>

    <div class="card">

      <div class="card-body">
        <h5 class="card-title">Edren Editorial Renacer</h5>
        <h1 class="card-text">Arte que enaltece a Dios</h1>
        <h1 class="card-text">
          Estamos en Contruccion, Disfruta Nuestra Version de Prueba!!
        </h1>
        <h1 class="card-text">Lanzamiento Oficial Julio 2021</h1>
      </div>
    </div>









  </div>
</div>