<div class="container text-center my-auto">
  <div class="row">
    <div class="card">

      <div class="card-body">
        {{#if user}}
        <img
          src="https://scontent-qro1-1.xx.fbcdn.net/v/t1.0-9/100813704_112994280424663_1098038234950139904_n.jpg?_nc_cat=100&ccb=3&_nc_sid=09cbfe&_nc_eui2=AeGvvzVJAzNGI3nGifIzbN2Tyw_Bn9mYP9PLD8Gf2Zg_0zQoJBHZQ00nMhSkyA-A-KrL5mZD_MeNZ5yZIEzKcNoY&_nc_ohc=hFdz3btGc1kAX-xogqF&_nc_ht=scontent-qro1-1.xx&oh=3690128233124c8cafa95cc53c304067&oe=606217D8"
          class="card-img-top mx-auto m-2 rounded-circle w-50" alt="...">

        {{else}}
        {{> signin}}
        {{/if}}
      </div>
    </div>

    <div class="card">

      <div class="card-body">
        <h5 class="card-title">Edren Editorial Renacer</h5>
        <h1 class="card-text">Arte que enaltece a Dios</h1>
        <h1 class="card-text">
          Estamos en Contruccion, Disfruta Nuestra Version de Prueba!!
        </h1>
        <h1 class="card-text">Lanzamiento Oficial Julio 2021</h1>
      </div>
    </div>









  </div>
</div>