<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/archiveros/add" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="titulo" placeholder="Titulo" autofocus>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="idautor">
                                <option value="none">Selecciona un Autor</option>
                                {{#each autores}}
                                <option value="{{id}}">{{autor}}</option>
                                {{/each}}
                            </select>
                        </div>
                         <div class="form-group">
                            <select class="form-control" name="idinterprete">
                                <option value="0">Selecciona un Interprete</option>
                                {{#each interpretes}}
                                <option value="{{id}}">{{interprete}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="genero" placeholder="Genero">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="precio" placeholder="Precio">
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="modulos" aria-placeholder="Selecciona un Modulo">
                                <option value="none">Selecciona un Modulo</option>
                                <option value="libros">Libros</option>
                                <option value="revistas">Revistas</option>
                                <option value="comics">Comics</option>
                                <option value="musica">Musica</option>
                                <option value="peliculas">Peliculas</option>
                                <option value="videos">Videos</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="roles" aria-placeholder="Selecciona un Role">
                                <option value="none">Selecciona un Role</option>
                                <option value="free">Free</option>
                                <option value="premium">Premium</option>
                                <option value="shop">Shop</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-warning btn-block">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>