<div class="contentt">

    <div class="modull">
        <div class="text-center">
            <img src="../libros.jpeg" alt="" width="320px" height="320px">
        </div>

        <a href="/free/libros" style="color: yellow;">
            <h4>Libros</h4>
        </a>

    </div>

    <div class="modull">
        <div class="text-center">
            <img src="../revistas.jpeg" alt="" width="320px" height="320px">
        </div>

        <a href="/free/revistas" style="color: yellow;">
            <h4>Revistas</h4>
        </a>
    </div>

    <div class="modull">
        <div class="text-center">
            <img src="../comics.jpeg" alt="" width="320px" height="320px">
        </div>

        <a href="/free/comics" style="color: yellow;">
            <h4>Comics</h4>
        </a>
    </div>

    <div class="modull">
        <div class="text-center">
            <img src="../musica.jpeg" alt="" width="320px" height="320px">
        </div>

        <a href="/free/musica" style="color: yellow;">
            <h4>Musica</h4>
        </a>

    </div>

    <div class="modull">
        <div class="text-center">
            <img src="../peliculas.jpeg" alt="" width="320px" height="320px">
        </div>

        <a href="/free/peliculas" style="color: yellow;">
            <h4>Peliculas</h4>
        </a>
    </div>

    <div class="modull">รง
        <div class="text-center">
            <img src="../videos.jpeg" alt="" width="320px" height="320px">
        </div>

        <a href="/free/videos" style="color: yellow;">
            <h4>Series y Videos</h4>
        </a>
    </div>

</div>